<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.technomobiletest4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechnoMobiletest4">

        <activity
            android:name=".Checking5366Activity"
            android:exported="false" />
        <activity
            android:name=".ViewPhoneByCus"
            android:exported="false" />
        <activity
            android:name=".view_phones"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".viewpromotion3"
            android:exported="false" />
        <activity
            android:name=".viewpromotion2"
            android:exported="false" />
        <activity
            android:name=".Viewpramotion"
            android:exported="false" />
        <activity
            android:name=".Addpramotion5366Activity"
            android:exported="false" />
        <activity
            android:name=".Vivo"
            android:exported="false" />
        <activity
            android:name=".Samsung"
            android:exported="false" />
        <activity
            android:name=".iphone01"
            android:exported="false" />
        <activity
            android:name=".Pramotionmain"
            android:exported="false" />
        <activity
            android:name=".AddReview"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".AllSamsungPhones"
            android:exported="false" />
        <activity
            android:name=".AllApplePhones"
            android:exported="false" />
        <activity
            android:name=".AllPhoneCatagory"
            android:exported="false" />
        <activity
            android:name=".ShowActivity"
            android:exported="false" />
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CheckActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".AdminRegister"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".AddPhones"
            android:exported="false" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateReview"
            android:exported="false" />
        <activity
            android:name=".Huawei"
            android:exported="false"/>
            <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>